@reference "src\app\globals.css";

.rbc-header + .rbc-header {
  @apply border-l-0;
}

.rbc-button-link {
  @apply text-xs;
  @apply font-normal;
  @apply text-muted-foreground;
}

.rbc-month-view {
  @apply border-none;
}

.rbc-data-cell {
  @apply p-2;
}